.container {
  background-color: #f0fffc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 4rem;
}

.grid {
  display: grid;
  gap: 5rem;
  height: fit-content;
}

.firstContainer {
  display: flex;
}

.secondContainer {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.thirdContainer {
  margin: 0 auto;
}

.itemContainer {
  display: grid;
  gap: 1rem;
  line-height: 1.5;
  margin: 1rem 0 1rem 0;
  height: fit-content;
}
