.container {
  margin: 3rem 0;
  padding: 3rem 2rem 3rem 2rem;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 6rem;
  margin: 2rem auto;
}

.itemContainer {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  gap: 4rem;
  padding: 3rem 3rem;
}

.imageContainer {
  display: grid;
}

.first {
  order: 1;
}
.second {
  order: 2;
}

.itemContainer img {
  width: 100%;
  max-width: 600px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
}

.textContainer p {
  max-width: 60ch;
  font-size: 18px;
  line-height: 28px;
  color: #566171;
  letter-spacing: -0.01em;
}

.actionContainer {
  display: flex;
  justify-content: center;
}

.actionWrapper {
  background-color: #f0fffc;
  border-radius: 25px;
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  padding: 3rem 0;
  margin: 3rem 0 0 0;
}

@media (max-width: 1200px) {
  .itemContainer {
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    gap: 2rem;
    padding: 3rem 3rem;
  }

  .first {
    order: 0;
  }

  .second {
    order: 0;
  }
}

@media (max-width: 800px) {
  .itemContainer {
    padding: 3rem 0rem;
  }
}

@media (min-width: 1900px) {
  .container {
    width: 70vw;
    margin: 0 auto;
  }
}
